---
import "../styles/global.scss";

import Head from "../components/Head";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Preloader from "../components/Preloader";
import PageTransition from "../components/PageTransition";
import ScrollSmooth from "../components/ScrollSmooth";
import GTM from "../components/GTM.astro";

export interface Props {
  metadata: {
    title: string;
    descr: string;
    image?: string;
  };
  pathname?: string;
  bodyColor?: string;
  statusBarColor?: string;
  headerColor?: string;
  scrollSmooth?: boolean;
  disableHeader?: boolean;
  disableFooter?: boolean;
}

const {
  metadata,
  pathname,
  bodyColor,
  statusBarColor,
  headerColor,
  scrollSmooth,
  disableHeader,
  disableFooter,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="hide">
  <Head metadata={metadata} statusBarColor={statusBarColor} />
  <body class={bodyColor}>
    <Preloader bodyColor={bodyColor} />
    <PageTransition bodyColor={bodyColor} />
    {
      !disableHeader ? (
        <Header
          client:only="react"
          pathname={pathname}
          bodyColor={bodyColor}
          headerColor={headerColor}
        />
      ) : null
    }
    <main data-scroll-container>
      <slot />
      {
        !disableFooter ? (
          <Footer pathname={pathname} bodyColor={bodyColor} />
        ) : null
      }
    </main>
    <ScrollSmooth client:only="react" active={scrollSmooth} />
    <GTM />
  </body>
</html>
